
body {
    content: "Click that sheep!";
    background: rgb(181, 141, 215);
    color: black;
    position: relative;
    margin: 0px;
    display: flex;
    /* overflow-x: hidden; */
}


#content {
    display: flex;
    flex-direction: column;
    margin-left: 14%;
    height: 50%;
}

#resourceBar {
    box-sizing: border-box;
    width: 13%;
    height: 100%;
    background: rgb(157, 136, 108);
    position: fixed;
    margin: 0px;
    padding: 15px;
    border-right: 10px groove rgb(136, 77, 43);
    z-index: 2;
   }

#clickMe {
    margin: auto;
    height: 10em;
    width: 100%;
    background: rgb(181, 141, 215);
    background-image: url('../img/sheep.png');
    background-size: cover;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(16, 58, 16);
    text-shadow: 1px 1px white;
}

#clickMe:active {
    box-sizing: border-box;
    padding:3px 4px 3px 6px;
    width: 90%;
    height: 10em;
}

#stuff {
    margin-left: 5px;
    margin-bottom: 0px;
}

#funnyheaders {
    margin-left: 14%;
}

#gameBody {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
#specialtyArea{
    position: relative;
    height: 50%;
    width: 100%;
    bottom: 0;

} 
#ResourceTab {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-size: cover;
    /* border-top: 10px groove rgb(136, 77, 43); */
    position: fixed;
    top: 50%;
    left: 13%;
}
#upgradeTab {
    
    position: relative;
    left: 14%;
    top: 90px;
}

#altarTab {
    position: relative;
    left: 14%;
    top: 100px;
}

#labTab {
    position: relative;
    left: 14%;
    top: 110px;
}
#marketTab {
    position: relative;
    left: 14%;
    top: 120px;
}

.used {
    background-color: grey !important;
    border-style: outset;
}

#sheepUp1, #sheepUp2, #sheepUp3, #sheepUp4, #sheepUp5, #sheepUp6, #sheepUp7, #sheepUp8 {
    background-color: aquamarine;
    height: 10%;
    width: 10%;
    border: 3px solid rgb(99, 197, 164);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;

}

#cowMarket {
    height: 15%;
    width: 15%;
}